# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
venv/

# pytest cache
.pytest_cache/

# Editor
.vscode/
*.swp

# Mappings
*symbol_map.json

# Output files
discovered_patterns.csv
patient_pattern_vectors*